# Основные зависимости
Django==4.2.10
python-dotenv==1.0.0

# Драйвер базы данных
# psycopg2-binary будет установлен отдельно

# Загрузка медиа-файлов
# Pillow будет установлен отдельно
django-storages==1.14.2

# Тестирование
pytest==7.4.3
pytest-django==4.7.0

# Инструменты разработки
django-debug-toolbar==4.2.0
flake8==6.1.0

# Дополнительно
django-bootstrap5==23.3