{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Профиль {{ user.username }}</h2>

    <div class="row">
        <div class="col-md-3">
            <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/media/avatars/default.png{% endif %}" alt="Аватар" class="img-thumbnail" width="200">
        </div>
        <div class="col-md-9">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>О себе:</strong> {{ user.bio|default:"Не указано" }}</p>
            <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary">Редактировать профиль</a>

        </div>
    </div>
</div>
{% endblock %}
