{% extends "base.html" %}

{% block title %}Главная - Chatty{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Привет, {{ user.first_name }}!</h1>
        <p>Рады видеть тебя снова! 🎉</p>
    {% comment %}    <a href="{% url 'feed' %}" class="btn btn-primary">Перейти в ленту</a> {% endcomment %}
    {% else %}
        <h1>Добро пожаловать в Chatty!</h1>
        <p>Присоединяйся и общайся с другими пользователями!</p>
        <a href="{% url 'login' %}" class="btn btn-secondary">Войти</a>
    {% endif %}
{% endblock %}
